/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */





@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #b4af45;
    padding: 0px;
    margin-left: 0%;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin-left: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #b4af45;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: -24px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b4af45;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media (min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}
/* carousal stert */
.carousel-caption {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}
.carousel-item {
  position: relative; 
}
.carousel-caption h5 {
  font-size: 3.5rem; 
}
.carousel-caption p {
  font-size: 1.25rem; 
}
.card-img-top{

    width: 100%; 
    height: 300px; 
    object-fit: cover;  
}
/* counter css */
.counter-section i { display:block; margin:0 0 10px;}
    .counter-section span.counter { font-size:40px; color:#000; line-height:60px; display:block; font-family: "Oswald",sans-serif; letter-spacing: 2px;}
    .counter-title { font-size:12px; letter-spacing:2px; text-transform: uppercase;}
    .medium-icon { font-size: 40px !important; margin-bottom: 15px !important; } 
    .container { margin-top:200px; }



/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
} 

/* scroller start */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Public+Sans:wght@100&display=swap');

/* body {
   
    font-family: 'bold', sans-serif;
} */


.marquee {
    margin: 0em 10px;
}
.marquee-box-one {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 3em 0 0 0;
}
.marquee-content-one {
    display: flex;
    gap: 40px;
    padding: 0 20px;
    animation: scroll-one 30s linear infinite;
}
.marquee-box-two {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 3em 0 6em 0;
}

.marquee-text {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    flex-shrink: 0;
    margin: 0;
    padding: 15px 30px;
    color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    user-select: none;
    text-shadow: 0 0 2px black,0 0 4px black;
}
.marquee-text:hover{
 color: #bb9a65;
 transition-duration: 0.3s;
}

@keyframes scroll-one {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


/* product card */
/* Palette */
:root {
    --dark-blue: #31353d;
    --green: #9bb6aa;
    --body-color: #f9f9f9;
    --base-font-family: 'MavenProRegular', Arial, Tahoma, Trebuchet MS, Verdana;
    --base-font-size: 14px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Globals */
  p {
    margin: 0 0 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Titles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    color: var(--dark-blue);
    margin: 0;
  }
  
  /* Defaults */
  body {
    background: url("../img/main-bg.png");
    color: #aaa;
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    height: 100%;
  }
  
  img {
    max-width: 100%;
  }
  
  figure {
    margin: 0;
    line-height: 0;
  }
  
  main[role="main"] {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
    clear: both;
  }
  
  /* Product Box */
  .product {
    background: #fff;
    max-width: 300px;
    position: relative;
    z-index: 15;
    margin: 0 auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: 100%;
  }
  
  .product-description {
    position: relative;
    z-index: 15;
    background: #fff;
    clear: both;
  }
  
  .product-description .info {
    padding: 15px;
    color: #aaa;
    font-size: 0.85em;
    width: 75%;
    float: left;
  }
  
  .product-description .info h1 {
    font-size: 20px;
    margin: 0 0 5px;
  }
  
  .product-description .info p {
    margin-bottom: 15px;
    line-height: 1.3em;
  }
  
  .product-description .price {
    width: 25%;
    float: left;
    color: var(--green);
    font-size: 3.5em;
    position: relative;
    margin-top: 25px;
  }
  
  .product-description .price::before {
    content: '$';
    position: absolute;
    top: 0;
    left: -10px;
    font-size: 0.35em;
  }
  
  /* Sidebar */
  .product-sidebar {
    height: 100%;
    background: var(--dark-blue);
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: right 0.3s ease;
    border-radius: 0 2px 2px 0;
  }
  
  .product-sidebar button {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 0.9em;
    font-size: 0.8em;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .product-sidebar button.buy {
    background: transparent
      url('https://raw.githubusercontent.com/brunodsgn/productpreview/master/assets/img/icons/buy.png') no-repeat 15px;
  }
  
  .product:hover .product-sidebar {
    right: -50px;
  }
  
  /* Media Queries */
  @media screen and (max-width: 480px) {
    .product .product-sidebar {
      width: 100%;
      height: 50px;
      bottom: 0;
      left: 0;
      top: inherit;
      border-radius: 0 0px 2px 2px;
      transition: bottom 0.3s ease;
    }
  
    .product:hover .product-sidebar {
      bottom: -50px;
    }
  }
  
  @media screen and (max-width: 360px) {
    .product .product-sidebar {
      bottom: -50px;
    }
  }
  